body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.image-gallery {
    margin: 20px;
    padding: 20px;
    background-color: white;
    display: inline-block;
}

.image-gallery img {
    width: 2px;
    height: auto;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.image-gallery img:hover {
    transform: scale(1.1);
}

/* Bildekarusell styling*/

.carousel {
    position: relative;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ddd;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

#carousel-image {
    width: 500px;
    height: auto;
}